@font-face {
    font-family: 'Radiance';
    src: url("../font/radiance.eot");
    src: url("../font/radiance.eot") format("embedded-opentype"),
    url("../font/radiance.woff") format("woff"),
    url("../font/radiance.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Radiance-SemiBold';
    src: url("../font/radiance-semibold.eot");
    src: url("../font/radiance-semibold.eot?#iefix") format("embedded-opentype"),
    url("../font/radiance-semibold.woff") format("woff"),
    url("../font/radiance-semibold.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}
