*, html, li, a, body, h1, div, p, b, i, u {
    font-family: 'Radiance', 'arial', sans-serif;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

h1 {
    color: #c0c1c1;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
    font-family: 'Radiance-SemiBold','arial',sans-serif;
}

p {
    display: block;
    width: 100%;
    color: #c0c1c1;
    font-size: 18px;
    text-align: center;
    margin-top: 19px;
    line-height: 32px;
    text-shadow: 2px 2px 2px #000000;
}

body {
    min-width: 1000px;
    background-color: #000;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.down-button {
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
    background-image: url(../img/down-arrow.png);
    background-size: 100% auto;
}

#music {
    display: none;
}
