.panel {
    width: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.panel-header {
    position: relative;
    top: 1%;
}

/*
    cover page
 */

#panel-cover {
    background-image:
            url(http://cdn.dota2.com/apps/dota2/images/international2018/overview/bg_overview_main.jpg);
}

#cover-content {
    width: 1000px;
    text-align: center;
    font-family: 'Radiance','arial',sans-serif;
    height: 155px;
    padding-top: 60px;
    margin: auto;
}

.cover-banner {
    width: 336px;
    height: 155px;
}

.cover-banner-right {
    float: right;
    margin-right: 30px;
}

.cover-banner-left {
    float: left;
    margin-left: 30px;
}


/*
    introduction page
 */

#panel-introduction {
    background-image:
            url(http://cdn.dota2.com/apps/dota2/images/international2018/overview/bg_overview_main_how_to_watch.jpg);
}

#panel-end {
    background-image: url('../img/bg_battlepass.jpg');
}

/*
    heroes page
 */

#panel-hero {
    background-image: url('../img/heroes.jpg');
}

#hero-banner {
    position: relative;
    margin: auto;
    top: 80%;
    width: 200px;
    color: #ffffff;
    font-size: 60px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #ffffff;
    font-family: 'Radiance','arial',sans-serif;
}

#panel-hero-winnable {
    background-image: url('../img/drow-ranger.jpg');
    background-position: left;
}

#hero-winnable-intro {
    position: relative;
    top: 30%;
    left: 70%;
    width: 400px;
    text-shadow: 5px 5px 10px #000000;
    font-family: 'Radiance','arial',sans-serif;
    color: #a39180;
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 2px;
}

#panel-hero-winnable-list {
    background-image:
            url(http://cdn.dota2.com/apps/dota2/images/international2018/overview/bg_overview_main_how_to_watch.jpg);
}

#hero-winnable-list-d3 {
    width: 80%;
    height: 80%;
    margin: auto;
}

/*
    ban pick
 */

#panel-hero-banpick {
    background-image: url('../img/io.jpg');
    background-position: right;
}

#hero-banpick-intro {
    position: relative;
    top: 30%;
    left: 10%;
    width: 400px;
    text-shadow: 5px 5px 10px #000000;
    font-family: 'Radiance','arial',sans-serif;
    color: #a39180;
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 2px;
}

#panel-hero-banpick-list {
    background-image:
            url(http://cdn.dota2.com/apps/dota2/images/international2018/overview/bg_overview_main_how_to_watch.jpg);
}

#hero-banpick-list-echart {
    width: 100%;
    height: 80%;
}

/*
    team
 */
#panel-team {
    background-image: url('../img/OG.jpg');
    background-size: 80%, auto;
}

#team-banner {
    position: relative;
    margin: auto;
    top: 80%;
    width: 520px;
    color: #ffffff;
    font-size: 60px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #ffffff;
    font-family: 'Radiance','arial',sans-serif;
}

#panel-team-list {
    background-image:
            url(http://cdn.dota2.com/apps/dota2/images/international2018/overview/bg_overview_main_how_to_watch.jpg);
}

#team-echart {
    width: 100%;
    height: 80%;
}

/*
    player
 */
#panel-player-kda {
    background-image:
            url(http://cdn.dota2.com/apps/dota2/images/international2018/overview/bg_overview_main_how_to_watch.jpg);
}

#player-kda-echart {
    width: 100%;
    height: 80%;
}

#panel-player-pool {
    background-image:
            url(http://cdn.dota2.com/apps/dota2/images/international2018/overview/bg_overview_main_how_to_watch.jpg);
}

#player-pool-echart {
    width: 100%;
    height: 80%;
}

/*
    map
 */
#panel-map {
    background-image:
            url(http://cdn.dota2.com/apps/dota2/images/international2018/overview/bg_overview_main_how_to_watch.jpg);
}

#map-echart {
    width: 100%;
    height: 80%;
}

/*
    money
 */
#panel-money {
    background-image:
            url(http://cdn.dota2.com/apps/dota2/images/international2018/overview/bg_overview_main_how_to_watch.jpg);
}

#money-echart {
    width: 100%;
    height: 80%;
}

/*
    end page
 */

#end-container {
    padding-top: 65px;
}

#end-header {
    color: #c0c1c1;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    font-family: 'Radiance-SemiBold','arial',sans-serif;
    padding-bottom: 20px;
}

.PrizePoolRow {
    margin-bottom: 38px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.LargePrizeCell {
    font-size: 48px;
    width: 400px;
}

.PrizePoolCell {
    color: #c0c1c1;
    display: inline-block;
    width: 250px;
    padding-right: 10px;
    padding-left: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 24px;
    text-shadow: 1px 1px 2px #000000;
    font-family: 'Radiance-SemiBold','arial',sans-serif;
    text-align: center;
}

.PrizePoolPlace {
    color: #a39180;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Radiance-SemiBold','arial',sans-serif;
    padding-top: 2px;
}